
{% extends "baseadmin.html.twig" %}

{% block body %}
    <div class="container mt-4">
        <h2 class="text-center mb-4">Nouvelle visite</h2>
        {{ include ('_admin.voyage.form.html.twig') }}
{% endblock %}
